:root {
    --color-primary: #F77F00;
    --color-secondary: #333333;
    --color-tertiary: #555555;
    --color-accent: #F90808;
    --color-light: #f2f2f2d2;
    --color-overlay: rgba(0, 0, 0, 0.2);
    --color-whatsapp: #25D366;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer'
    ;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* =======================
          HEADER
======================= */
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.logo-text {
    font-size: 2.5rem;
    text-align: center;
    font-family: "League Script", cursive;
}

.slogan {
    font-family: "Dancing Script", cursive;
}

header h1,
header p {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.0rem 0;
}

.menu {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 5px;
    border: none;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}

.menu::before {
    content: '≣';
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu.open::before {
    content: '✕';
    width: 27px;
    height: 27px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*NAVEGACION*/

.nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 104px;
    z-index: 999;

}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav li {
    width: 100%;
}

.nav a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--color-secondary);
    font-weight: 400;
    text-align: center;
    z-index: 1000;
    background-color: var(--color-light);
    font-family: 'Montserrat', sans-serif;
}

.nav a:hover {
    color: var(--color-primary);
}

.nav.open {
    display: flex;
}

/* =======================
          MAIN
======================= */

main {
    grid-area: main;
    padding: 1rem 0;
    margin-top: 120px;
}

.categorias {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
}

.categorias article {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 10px 5px var(--color-overlay);
    max-width: 360px;
    width: 100%;
    margin: 40px auto;
}

.categorias img {
    width: 100%;
    aspect-ratio: 4/4;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.categorias img:hover {
    transform: scale(0.99);
    box-shadow: 0 4px 10px var(--color-overlay);
    cursor: pointer;
}

.categorias button {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    padding: 1.3rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;

    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias button:hover {
    background-color: var(--color-accent);
}

.whatsapp-float {
    position: fixed;
    bottom: 80px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    background-color: var(--color-whatsapp);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
    transition: background-color 0.3s ease;
}

.whatsapp-float i {

    color: var(--color-secondary);
}

.whatsapp-float:hover i {
    color: var(--color-light);
}

a img {
    text-decoration: none;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

/* =======================
          FOOTER
======================= */

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--color-light);
    font-family: 'Montserrat', sans-serif;
}

.article-one,
.article-two,
.article-three {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-one a {
    text-decoration: none;
}

.article-one h3 {
    font-size: x-small;
    padding: 5px 0;
}

.article-one a {
    color: var(--third--colors);
    font-size: x-small;
    font-weight: 400;
    cursor: pointer;
    margin: 2px 0;
}

.article-one a:hover {
    color: var(--color-tertiary);
    font-weight: 500;
}

.article-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-two h3 {
    font-size: x-small;
    padding: 5px 0;
}

.article-two a {
    display: flex;
    margin: 1px 0;
    align-items: center;
    font-size: x-small;
    text-decoration: none;
    color: var(--third--colors);
}

.article-two a:hover {
    color: var(--color-tertiary);
    font-weight: 500;
}

.article-two img {
    width: 20px;
    height: auto;
    margin: 0 4px 0 0;
}

.article-three section {
    display: flex;
    flex-direction: row;
}

.article-three img {
    width: 25px;
    height: auto;
    transition: transform 0.8s ease;
    margin: 4px;
}

.article-three img:hover {
    transform: scale(1.3);
}

body.menu-open main {
    margin-top: 300px;
    transition: margin-top 0.3s ease;
}

/* =======================
      MEDIA QUERIES
======================= */

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 20px 40px;
    }

    .menu {
        display: none;
    }

    .nav {
        display: flex !important;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
        top: auto;
        background: transparent;

    }

    .nav ul {
        flex-direction: row;
        gap: 1rem;
    }

    .nav li {
        width: auto;
    }

    .nav a {
        width: auto;
        border: none;
        padding: 10px 16px;
        background: transparent;
    }

    .nav {
        display: flex !important;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
        background: transparent;
    }

    main {
        padding: 3rem 0;
    }

    .categorias {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 2rem;
    }

    .categorias article {
        flex: 1 1 30%;
        max-width: 360px;
    }

    .whatsapp-float {
        bottom: 140px;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media (min-width: 1024px) {
    .categorias img {
        width: 100%;
        height: 91%;
        display: block;
        object-fit: cover;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}