* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer'
    ;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*
HEADER
*/
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.logo-text {
    font-size: 2.5rem;
    font-family: "League Script", cursive;
}

.slogan {
    font-family: "Dancing Script", cursive;
}

header h1,
header p {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.0rem 0;
}

.menu {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 5px;
    border: none;
    background-color: transparent;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}

.menu::before {
    content: '≣';
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu.open::before {
    content: '✕';
    width: 27px;
    height: 27px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 100px;
    z-index: 999;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav li {
    width: 100%;
}

.nav a {
    text-decoration: none;
    display: block;
    width: 40%;
    padding: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    text-align: start;
}

.nav a:hover {
    color: orangered;
}

.nav.open {
    display: flex;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


/*
MEDIA QUERY
*/

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 20px 40px;
    }

    .menu {
        display: none;
    }

    .nav {
        display: flex !important;
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
        top: auto;
        background: transparent;
        backdrop-filter: none;
    }

    .nav ul {
        flex-direction: row;
        gap: 1rem;
    }

    .nav li {
        width: auto;
    }

    .nav a {
        width: auto;
        border: none;
        padding: 10px 16px;
    }
}

@media (min-width: 1024px) {}